<div class="jumbotron">
	<h1>Gem Are Truly Outrageous!</h1>
	Click here to see our League Of Legends <%= link_to "Ranked Team Stats", "https://youtu.be/dQw4w9WgXcQ?t=35", class: "btn btn-primary" %>
</div>
